<h2>FOOD LEVEL</h2>

<h4><%= @pet.food_level() %></h4>

<h2>ACTIVITY LEVEL</h2>

<h4><%= @pet.activity_level() %></h4>

<h2>SLEEP LEVEL</h2>

<h4><%= @pet.sleep_level() %></h4>

<p><a href="/pets/<%= @pet.id %>" >Back</a></p>
